body {
    background-color: #3B4849;
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Segoe UI';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    font-family:'Segoe UI';
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #0185DB;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Segoe UI';
    color: #0185DB;
}
p {
    font-family:'Segoe UI';
    font-size: 1.5em;
    line-height: 1.4em;
    color: #0185DB;
}
footer {
    font-family:'Segoe UI';
    border-top: 1px solid #0185DB;
    font-size: .8em;
}

ul.posts { 
    font-family:'Segoe UI';
    color: #0185DB;
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    font-family:'Segoe UI';
    list-style: none;
}
