<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="shortcut icon" type="image/x-icon" href="favicon.ico?">  
			<link rel="stylesheet" type=text/css" href="css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:bluecreeper512@gmail.com">Email</a></li>
        		  	<li><a href="https://github.com/bluecreeper512">GitHub</a></li>
            			<li><a href="https://twitter.com/bluecreeper512">Twitter</a></li>
            			<li><a href="https://www.youtube.com/channel/UCyO954fXvzQpByKNWYoigZQ">YouTube</a></li>
           			<li><a href="https://discordhub.com/profile/641262179085189122">Discord</a></li>
            			<li><a href="https://reddit.com/u/minecraftandother">Reddit</a></li>
				</ul>
			</footer>
		</body>
	</html>
